<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit Teacher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>EDIT TEACHER</h1>
        <form action="/teacher/edit/<%= dataTeacher.id%>" method="post">
            First name:<br>
            <input type="text" name="firstName" value="<%= dataTeacher.firstName %>">
            <br>
            Last name:<br>
            <input type="text" name="lastName" value="<%= dataTeacher.lastName %>">
            <br>
            Email : <br>
            <input type="text" name="email" value="<%= dataTeacher.email %>">
            <br>
            Subject : <br>
            <select name="subjectId">
                    <% dataSubject.forEach(function(subject){ %>
                        <option name="subjectId" value="<%- subject.id %>" ><%- subject.subjectName %></option>
                    <%}) %>
            </select>
            <input type="submit" value="Submit">
          </form>
</body>
</html>