<html>
  <head>
    <title>Students Data</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
  </head>
  <body>
    <h2><a href="/">Home</a></h2>
    <br>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th colspan = "2">Options</th>
      </tr>
    </thead>
    <tbody>
      <% students.forEach(student => { %>
      <tr>
        <td><%= student.id%></td>
        <td><%= student.first_name%></td>
        <td><%= student.last_name%></td>
        <td><%= student.email%></td>
        <td><a href="/students/edit/<%= student.id %>">Edit</a></td>
        <td><a href="/students/delete/<%= student.id %>">Delete</a></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <br>
  <h2><a href="/students/add">Add Student Data</a></h2>
  </body>
</html>