<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2><%= title %></h2>
    <form action="/edit/<%= student.id %>" method="post">
      First name:<br>
      <input type="text" name="firstname" value="<%= student.first_name %>">
      <br>
      Last name:<br>
      <input type="text" name="lastname" value="<%= student.last_name %>">
      <br>
      Email:<br>
      <input type="text" name="email" value="<%= student.email %>">
      <br><br>
      <input type="submit" value="Submit">
    </form>
    <%- include('./partials/links.ejs')%>
  </body>
</html>
