<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
      }

      input[type=text],
      select,
      textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }

      input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      input[type=submit]:hover {
        background-color: #45a049;
      }

      .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }
    </style>
    <meta charset="utf-8">
    <title>EDIT Teachers data </title>
  </head>

  <body>

    <div class="container">
      <h2 align="center">EDIT Teachers Data</h2>
      <p align="center"><a href="/teachers">Show All data</a></p>
      <form action="/teachers/edit/<%=teacher.id%>" method="post">
        <label for="fname">First Name</label>
        <input value="<%=teacher.firstName%>" type="text" id="fname" name="first_name" placeholder="Your name..">

        <label for="lname">Last Name</label>
        <input value="<%=teacher.lastName%>" type="text" id="lname" name="last_name" placeholder="Your last name..">
        <label for="lname">Email</label>

        <input value="<%=teacher.email%>" type="text" id="lname" name="email" placeholder="Your email..">




        <select name="SubjectId">
        <% subject.forEach(function(sbj){ %>

     <option value="<%=sbj.id%>"><%=sbj.subjectName%>
     </option>

          <%})%>
            </select>





        <input type="submit" value="Submit">


      </form>
    </div>
  </body>

</html>