<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teacher Form</title>
</head>
<body>
        <form action="/teacher/edit/<%=teacher.id%>" method="POST">
            <p style="color : #ff3333"><%=error%></p>
            First name:<br>
            <input type="text" name="firstName" value = <%=teacher.firstName%>>
            <br>
            Last name:<br>
            <input type="text" name="lastName" value = <%=teacher.lastName%>>
            <br>
            Email:<br>
            <input type="text" name="email" value = <%=teacher.email%>>
            <br>
            Select:<br>
            <select name="SubjectId">
                <%for(var j = 0; j < subject.length; j++){%>
                    <option value=<%=j+1%>><%=subject[j].subjectName%></option>
                <%}%>
            </select>
            <input type="submit" value="Submit">
          </form>
</body>
</html>