<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Teacher Page</title>
</head>
<body>
    <h1>All Teachers Data</h1>
    <a href="/teacher/add">Add Teachers Data</a>
    
    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email</td>
                <td>Subject Name</td>
                <td>Options</td>
            </tr>
        </thead>

        <tbody>
            <% dataTeacher.forEach((data) => { %>
                <td><%=data.id%></td>
                <td><%=data.firstName%></td>
                <td><%=data.lastName%></td>
                <td><%=data.email%></td>
                <% if(data.SubjectId == null) { %>
                    <td>unassigned</td>
                <%}else { %>
                    <td><%=data.Subject.subjectName%></td>
                <%}%>
                <td><a href="/teacher/edit/<%=data.id%>">Edit</a><a href="/teacher/delete/<%=data.id%>"> | Delete</a></td>
            <tr></tr>
            <%})%>
        </tbody>
    </table>
    <a href="/">Back</a>
</body>
</html>