<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Teachers Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1>All Teachers Data</h1>
        <table class="table table-hove">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Subject</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <%dataTeacher.forEach((dataTeacher) => {%>
                    <tr>
                        <td><%= dataTeacher.id %></td>
                        <td><%= dataTeacher.firstName %></td>
                        <td><%= dataTeacher.lastName %></td>
                        <td><%= dataTeacher.email %></td>
                        <td>
                            <% if (dataTeacher.SubjectId == null) {%>
                                unassigned
                            <%} else {%>
                                <%= dataTeacher.Subject.subjectName %>
                            <%}%> 
                        </td>
                        <td><a href="/teacher/editteacher/<%= dataTeacher.id %>">Edit</a> | <a href="/teacher/deleteteacher/<%= dataTeacher.id %>"> Delete</a></td>
                    </tr>
                <%})%>    
            </tbody>
        </table>
        <a href="http://localhost:3000/teacher/addteacher">Add Teachers Data</a>
    </div>
</body>
</html>