<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Teacher</title>
</head>
<body>
    <h1>Edit Teacher Form</h1>
    <form action="/teachers/edit/<%= dataTeacher.id %>" method="POST">
        First Name:<br>
        <input type="text" name="firstname" value="<%= dataTeacher.first_name %>"><br>
        Last Name:<br>
        <input type="text" name="lastname" value="<%= dataTeacher.last_name %>"><br>
        Email:<br>
        <input type="text" name="email" value="<%= dataTeacher.email %>"><br>
        Subject:
        <select name ="subjectId">
           <% dataSubject.forEach(function(subject){ %>
                    <option name="subjectId" value="<%- subject.id %>"> <%- subject.subjectName %></option> 
            <%})%>
        </select><br>
        <br>
        <input type="submit" name="Submit" value="Edit Teacher">
    </form>
</body>
</html>


