<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>Teachers Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css"> 
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-info fixed-top">
      <a class="navbar-brand" href="#">TFOX SCHOOL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="../">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="../teachers">Teacher</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../subjects">Subject</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container" style=" padding: 5rem 1.5rem;">

      <div class="content" style="text-align: center;">
        <h2>Add Teachers Data</h2>
        <a class="btn btn-sm btn-info " href="../teachers/" role="button" >Show All Data</a>
      </div>
      <br>
      <% if (error !== null) { %>
        <div class="alert alert-danger"><%= error %></div>
      <%} %>
      <form action="/teachers/add" method="POST">
          <div class="form-group">
              <label for="first_name">First Name</label>
              <input type="text" class="form-control" id="first_name" name="firstName" placeholder="Enter first name" value = "<%= dataTeacher.firstName%>">
          </div>
          <div class="form-group">
              <label for="last_name">Last Name</label>
              <input type="text" class="form-control" id="last_name" name="lastName" placeholder="Enter last name" value = "<%= dataTeacher.lastName%>">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter email" value = "<%= dataTeacher.email%>">
          </div>
          <div class="form-group">
              <label for="SubjectId">Subject Id</label>
              <input type="text" class="form-control" id="SubjectId" name="SubjectId" placeholder="Enter Subject Id" value = "<%= dataTeacher.SubjectId%>"> 
            </div>
          <button type="submit" class="btn btn-info">Submit</button>
      </form>
    </main><!-- /.container -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

